<header id="photogram">
  <h1>JdGram</h1>
</header>

<% @posts.each do |post| %>
<div class="gram-post card-panel center card">
  <div class="username-wrapper">
    <div class="username">
      <h6 class="username-link"><%= link_to post.user.user_name, user_path(post.user) %> </h6>
      <p class="timestamp">Posted: <%= time_ago_in_words(post.created_at) %> ago</p>
    </div>
  </div>
  <div class="gram-image">
  <%= link_to image_tag(post.image.url(:medium)), post_path(post) %>
  </div>
  <div class="post-caption">
  <p><%= post.caption %></p>
  </div>  
</div>
<% end %>