<div class="new-post card-panel">
<%= form_for(@post) do |f| %>
  File: <%=f.file_field :image %>
  <br>
  <%= f.text_field :caption, placeholder: "Add a caption" %>
  <%= f.submit "Add image" %>
<% end %>
</div>